<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id		   = "http___wifienterhotelinfo.com"
        version 	= "1.0.0">

   <name>Hotel Casino - BlackJack</name>

<content src="index.html"/>

<description>
Powerfull Guest Tools for hospitality services.
</description>

 <author href="http://wifienter.com" email="alejandro.c@wifienter.net">
Wifientertainment SAS - By Alejandro Osorio 2015-2017
</author>

   <icon src="icon.png" />
   
<platform name="android">
	<icon density="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
	<icon density="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
	<icon density="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
	<icon density="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
	<icon density="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
	<icon density="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
</platform>


   <feature name="http://api.phonegap.com/1.0/network"/>
   <feature name="http://api.phonegap.com/1.0/geolocation"/>
   <preference name="phonegap-version" value="cli-6.5.0" />
   <preference name="target-device" value="universal" />

<access origin="*" browserOnly="true" />
</widget>